@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q1 {
  background-color: #eff3f4;
  width: 940px;
  padding: 20px;
  margin: 0 auto;
}
.q1 :first-child {
margin-left: 0;
}
.contents {
  float: left;
  background-color: #3274ae;
  margin-left: 20px;
  padding: 20px;
}
.contents_box {
  background-color: #eaf4ff;
  width: 230px;
  padding: 20px;
  box-sizing: border-box;
  border: solid 10px #022336;
}
.cotents_box_text {
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
}