@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7--float .q7__box {
  float: left;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}
.q7--float .q7__box:first-child {
  margin-left: 0;
}

.q7--table .q7__inner {
  display: table;
}
.q7--table .q7__box {
  width: 225px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}
.q7--table .q7__box:first-child {
  padding-left: 0;
}
.q7--inlineblock .q7__inner {
  font-size: 0;
}
.q7--inlineblock .q7__box {
  width: 225px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 16px;
}
.q7--inlineblock .q7__box:first-child {
  margin-left: 0;
}

.q7--flex .q7__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.q7--flex .q7__box {
  width: 225px;
  box-sizing: border-box;
}

.q7--margin .q7__inner {
  font-size: 0;
}
.q7--margin .q7__box {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
}
.q7--margin .q7__box:first-child {
  width: 300px;
}
.q7--margin .q7__box:nth-child(2) {
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
}