@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.contents {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
}
.contents tbody tr:last-child {
  border-top: dashed #000 2px;
}
.contents th, .contents td {
  border: solid #dedede 1px;
  padding: 10px;
}
.contents th{
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}
.contents td {
  font-size: 16px;
  line-height: 22px;
}
.contents tr:nth-child(2n) {
  background-color: #ecf1f2;
}