@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.q8--btn {
font-size: 0;
}
.common {
  background-color: #00bcd4;
  color: #ffffff;

}
.error {
  background-color: #ff4081;
  color: #ffffff;
}
.disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
.shadow {
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
  color: #222;
}
.q8--btn :nth-child(2) {
  margin-left: 0;
}
.q8__btn {
  display: inline-block;
  margin-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.q8--btn :nth-child(4){
  cursor: default;
}
.small {
  font-size: 16px;
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
}
.middle {
  font-size: 20px;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}
.large {
  font-size: 24px;
  border-radius: 7px;
  height: 38px;
  line-height: 38px;
  padding: 0 25px;
}

.q8__form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.q8__form_tittle {
  position: relative;
  margin-bottom: 20px;
}
.q8__form_tittle::before {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #ccc;
  top: 50%;
  content: "";
}
.q8__form_tittle_text {
  font-size: 24px;
  font-weight: bold;
  background-color: #ECF1F2;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.q8__form_main {
  width: 300px;
  float: left;
}
.clearfix {
  margin-top: 20px;
}
.clearfix:first-child {
  margin-top: 0;
}
.q8__form_main_items {
  margin-bottom: 20px;
}
.q8__form_main_items_tittle {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}
.q8__form_main_itmes_content {
  float: right;
  width: 180px;
}
.q8__input--init {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.q8__input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
}
.is-required {
  color: #F00;
}
.q8__radio {
  cursor: pointer;
}
.q8__radio_btn {
  display: none;
}
.q8__radio_text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.q8__radio_text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: ""
}
.q8__radio_btn:checked +.q8__radio_text::after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: "";
}
.q8__select_body {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
.q8__checkbox {
  text-align: right;
}
.q8__checkbox_btn {
  display: none;
}
.q8__checkbox_text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.q8__checkbox_text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: ""
}
.q8__checkbox_btn:checked +.q8__checkbox_text::after {
  position: absolute;
  top: 50%;
  left: 6px;
  width: 8px;
  height: 16px;
  margin-top: -14px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: "";
}
.q8__form_main_bottom {
  text-align: right;
}
.q8__form_main_bottom_btn {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}
.q8__form_main_bottom_btn:active {
  background-color: #fff;
  color: #00BCD4;
}
.q8__form_side {
  width: 380px;
  float: right;
}
.q8__form_side_text {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}